{% extends 'base.html' %}





{% block content %}


<h1>Welcome to 💩➕🧑‍💻!</h1>

<p>We believe that toilets and wifi in public spaces ought to be public goods.
But businesses often restrict access to paying customers by requiring a wifi
password and by putting combination locks on bathroom doors.</p>

<p>So we built this website to crowdsource codes. Please contribute to help
others in  your community who "gotta go or gotta know"</p>

<p>Please use this site responsibly! We don't condone tresspassing. 
But we also don't condone
telling people that they can't use the restroom. So 🤷</p>
{% endblock %}
