{% extends 'base.html' %}

{% block content %}


<h1>{{ password.value }} has {{ password.comment_set.all|length}} comment{{ password.comment_set.all|pluralize }}</h1>

<table>
<tr>
    <th>Comment</th><th>Edit</th><th>Delete</th>
</tr>
    {% for c in password.comment_set.all %}
    <tr>
    <td>
            {{ c.text }}
    </td>
    <td>
        <a href="{% url 'core:comment_update' c.id %}">
            (edit)
        </a>
    </td>
    <td>
        <a href="{% url 'core:comment_delete' c.id %}">
            (delete)
        </a>
    </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'core:comment_add' password.id %}">Submit a new Comment for this password</a> | 
<a href="{% url 'core:place_detail' password.place.id %}">Back</a>
{% endblock %}
