{% extends 'base.html' %}

{% block head_content %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <style>
        #map { height: 500px; width: 100%; }
    </style>
{% endblock %}

{% block content %}
    <h1>Poop 'n Peruse (💩➕🧑‍💻)</h1>
    <h2>for when you gotta go or you gotta know</h2>
    <h2>
        <a href="{% url 'core:about' %}">
            Read more about us
        </a>
         or click on a place to get started

    </h2>
    <h2>Want to add a new place? <a href="{% url 'core:place_add' %}">Click
            Here</a></h2>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([39, -77], 10);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        var places = [
            {% for place in place_list %}
                {
                    lat: {{ place.lat }},
                    lng: {{ place.long }},
                    url: "{% url 'core:place_detail' place.id %}",
                    del_url: "{% url 'core:place_delete' place.id %}",
                    name: "{{ place.name }}"
                },
            {% endfor %}
        ];

        places.forEach(function(place) {
            var marker = L.marker([place.lat, place.lng]).addTo(map);
            var popupContent = `
                <a href="${place.url}"> 
                ${place.name} 
                </a>
                <a href="${place.del_url}">
                (delete)
                </a>
                `;
            marker.bindPopup(popupContent);
        });
    </script>

{% endblock %}
