<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}💩➕🧑‍💻{% endblock %}</title>
<link href="{% static "base.css" %}" rel="stylesheet"></link>
<script src="{% static "init.js" %}"></script>
{% block head_content %}
{% endblock %}
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}! 
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit">Log Out</button>
                </form>
            </p>
        {% else %}
        <p>Not Logged In
            <a href="{% url 'login' %}?next={{ request.path }}">(Login)</a>
        </p>
        {% endif %}
    </header>
</hr>
    {% block content %}


    {% endblock %}
</body>
</html>
